/* Soluzione qui */
@media screen and (min-width:768px) {
    #topbar {
        justify-content: start;
    }
}

@media screen and (min-width:768px) {
    .container {
        padding: 0 50px;
    }
}

@media screen and (min-width:768px) {
    .recipe-name {
        font-size: 30px;
    }
}

@media screen and (min-width:768px) {
    .recipe-origin {
        display: inline;
    }
}

@media screen and (min-width:768px) {
    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        column-gap: 100px;
    }
}

@media screen and (min-width:768px) {
    .btn {
        padding: 5px 30px;
        display: flex;
    }
}

@media screen and (min-width:768px) {
    .ads {
        display: block;

    }
}

@media screen and (min-width:768px) {
    .presentation p>img {
        float: left;
        margin: 20px
    }
}

@media screen and (min-width:992px) {
    .recipe-name {
        font-size: 50px;
    }
}

@media screen and (min-width:992px) {
    .quick-notes ul {
        display: block;
    }
}


@media screen and (min-width:992px) {
    .recipe-card {
        display: flex;
        gap: 20px;
    }
}

@media screen and (min-width:992px) {
    .recipe-video {
        width: 60%;
    }
}

@media screen and (min-width:992px) {
    .recipe-info {
        width: 40%;
    }
}

@media screen and (min-width:992px) {
    .social-networks .label {
        display: inline;
    }
}

@media screen and (min-width:768px) {
    .btn {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}